body {
}

mdl-navigation__link {
    color: #FFF !important;
}

.mdl-navigation a {
    color: #FFF !important;
}

.mdl-layout-title a {
    color: #FFF !important;
}

    .mdl-layout-title a:hover {
        text-decoration: none;
    }

.mdl-layout__drawer nav a {
    color: black !important;
    font-size: 1.1em !important;
}

    .mdl-layout__drawer nav a i {
    }

    .mdl-layout__drawer nav a:hover {
        text-decoration: none;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



$('#exampleModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
            })