
<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#@item._Aluno.AlunoID" data-backdrop="false">
    AVALIAR
</button>

<div class="modal fade" id="@item._Aluno.AlunoID" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> ID : @item._Aluno.AlunoID Aluno:  @item._Aluno.Nome</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="custom-radio">
                <div>
                    <p>O Aluno apresenta problemas muitas Faltas ? </p>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="Resp1" id="Resp1" value="1" checked>
                    <label class="form-check-label" for="exampleRadios1">

                        Sim
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="Resp1" id="Resp1" value="2">
                    <label class="form-check-label" for="exampleRadios3">
                        Não
                    </label>
                </div>
            </div>
            <div class="custom-radio">
                <div><p>O Aluno apresenta dificuldades pedagógicos? </p></div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="Resp2" id="Resp2" value="1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Sim
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="Resp2" id="Resp2" value="2">
                    <label class="form-check-label" for="exampleRadios3">
                        Não
                    </label>
                </div>
            </div>
            <div class="custom-radio">
                <div><p>O Aluno apresenta problemas problemas disciplinares ? </p></div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="Resp3" id="Resp3" value="1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Sim
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="Resp3" id="Resp3" value="2">
                    <label class="form-check-label" for="exampleRadios3">
                        Não
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">ENVIAR</button>
                <input type="hidden" value="@item._Aluno.Nome" name="s" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

