@{
    ViewBag.Title = "Home Page";
}
<br />

<style>

    .demo-card-wide.mdl-card {
        width: 380px;
        white-space: normal;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('http://www.revistaeducacao.com.br/wp-content/uploads/2018/07/Imagem.jpg') content-box center;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

</style>

<div class="row">
    <br />
    <div class="demo-card-wide mdl-card mdl-shadow--8dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                O Banco de Práticas Inspiradoras é um projeto criado pelo Instituto Península em parceira com o MEC.
                Seu objetivo é dividir com profissionais de educação e a sociedade as iniciativas que professores da rede pública do Brasil(...)
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Get Started
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>
            Com robótica e novas tecnologias, empresas apontam novos <br />
            rumos e tendências para as salas de aula
        </h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.revistaeducacao.com.br/com-robotica-novas-tecnologias-empresas-apontam-novos-rumos-e-tendencias-para-as-salas-de-aula/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Anima Mundi: animação em fase de crescimento</h3>
        <p>Realizado pela primeira vez em 1993, o Anima Mundi começou pequeno, apenas no Rio de Janeiro, e discreto, ocupando um nicho, o da animação(...)</p>
        <p><a class="btn btn-default" href="http://www.revistaeducacao.com.br/anima-mundi-animacao-fase-de-crescimento/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>
            Como funciona a premiação de professores considerada o Nobel da Educação
        </h3>
        <p>O Global Teacher Prize, principal premiação mundial voltada a professores, está com inscrições abertas. Em sua quinta edição,(...)</p>
        <p><a class="btn btn-default" href="http://www.revistaeducacao.com.br/como-funciona-premiacao-professores-considerada-nobel-da-educacao/">Learn more &raquo;</a></p>
    </div>
</div>